<h1>All Companies</h1>

<ul class=company_>
  <% @companies.each do |company| %>
    <li>
      <%= company.title %>
      <%= link_to "Edit", edit_company_path(company) %>
      <%= link_to "Delete", company_path(company)%>
    </li>
  <% end %>
</ul>
