<h3>Job Categories</h3>

<ul>
  <% @categories.each do |category| %>
  <li class=company_<%= category.title %>>

    <%= link_to "Edit", edit_category_path(category) %>
    <%= link_to "Delete", category_path(category) %>
  </li>
  <% end %>
</ul>
